  <h1><%= title %></h1>

  <form method="POST" action="">
    <div class="form-group">
      <label for="book">Book:</label>
      <select id="book" class="form-control" type="select" placeholder="Select book" name="book" required="true">
        <% book_list.sort(function(a, b) {let textA = a.title.toUpperCase(); let textB = b.title.toUpperCase(); return (textA < textB) ? -1 : (textA > textB) ? 1 : 0;}); %>
        <% book_list.forEach(function(book) { %>
          <option value="<%= book._id %>" <%= (selected_book==book._id.toString() ? 'selected' : '') %> > <%= book.title %> </option>
        <% }); %>
      </select>
    </div>

    <div class="form-group">
      <label for="imprint">Imprint:</label>
      <input id="imprint" class="form-control" type="text" placeholder="Publisher and date information" name="imprint" required="true" value="<%= (bookinstance===undefined ? '' : bookinstance.imprint) %>">
    </div>

    <div class="form-group">
      <label for="due_back">Date when book available:</label>
      <input id="due_back" class="form-control" type="date" name="due_back" value="<%= (bookinstance===undefined ? '' : bookinstance.due_back) %>">
    </div>

    <div class="form-group">
      <label for="status">Status:</label>
      <select id="status" class="form-control" type="select" placeholder="Select status" name="status" required="true">
        <option value="Maintenance" <%= (bookinstance!==undefined && bookinstance.status==='Maintenance' ? 'selected' : '') %> >Maintenance</option>
        <option value="Available" <%= (bookinstance!==undefined && bookinstance.status==='Available' ? 'selected' : '') %> >Available</option>
        <option value="Loaned" <%= (bookinstance!==undefined && bookinstance.status==='Loaned' ? 'selected' : '') %> >Loaned</option>
        <option value="Reserved" <%= (bookinstance!==undefined && bookinstance.status==='Reserved' ? 'selected' : '') %> >Reserved</option>
      </select>
    </div>

    <button class="btn btn-primary" type="submit">Submit</button>
  </form>

  <% if (typeof errors !== 'undefined') { %>
    <ul>
      <% errors.forEach(function(error) { %>
        <li><%= error.msg %></li>
      <% }); %>
    </ul>
  <% } %>

